<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:oxm="http://www.springframework.org/schema/oxm"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm.xsd">

    <context:annotation-config />   <!-- turn annotation on -->

    <context:property-placeholder
        location="classpath*:jdbc.properties,classpath*:unittest.properties,classpath:config.properties" />


    <bean id="createConfig" class="org.auscope.nvcl.server.vo.ConfigVo">
        <!--reference values read by PropertyPlaceholderConfigurer bean -->
        <property name="sendEmails" value="${smtp.enabled:false}" />
        <property name="msgTimetoLiveDays" value="${msgTimetoLiveDays:31}" />
        <property name="SysAdminEmail" value="${sysadmin.email}" />  
        <property name="downloadURL" value="${download.url}" />
        <property name="webappURL" value="${webapp.url}" /> 
        <property name="portalURL" value="${portal.url}" />         
        <property name="minDownSampleInterval" value="${tsg.downsample.minInterval}" />                 
        <property name="useProxy" value="${proxy.useProxy:false}" /> 
        <property name="proxyHost" value="${proxy.proxyHost}" />         
        <property name="proxyPort" value="${proxy.proxyPort}" />                         
    </bean>

    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${activemq.brokerurl}" />
    </bean>


    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory" />
        <!-- <property name="defaultDestination" ref="requestDestination" /> -->
        <property name="messageConverter" ref="nvclAnalyticalMessageConverter" />
    </bean>

    <bean id="nvclSubmitDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${queue.submit}" />
    </bean>

    <bean id="nvclStatusDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${queue.status}" />
    </bean>

    <bean id="nvclResultDestination" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="${queue.result}" />
    </bean>
    
    <bean id="nvclAnalyticalGateway" class="org.auscope.nvcl.server.service.NVCLAnalyticalGateway">
        <property name="jmsTemplate" ref="jmsTemplate" />
    </bean>

    <bean id="nvclAnalyticalMessageConverter"
        class="org.auscope.nvcl.server.service.NVCLAnalyticalMessageConverter" />

    <bean id="nvclAnalyticalRequestSvc" class="org.auscope.nvcl.server.service.NVCLAnalyticalRequestSvc">
        <property name="jmsTemplate" ref="jmsTemplate" />
        <property name="status" ref="nvclStatusDestination" />
        <property name="result" ref="nvclResultDestination" />        
        <property name="mailSender" ref="mailSender" />
        <property name="config" ref="createConfig" />
    </bean>

    <bean id="nvclAnalyticalQueueBrowser"
        class="org.auscope.nvcl.server.service.NVCLAnalyticalQueueBrowser">
        <property name="jmsTemplate" ref="jmsTemplate" />
    </bean>

    <bean id="nvclAnalyticalRequestListener"
        class="org.springframework.jms.listener.adapter.MessageListenerAdapter">
        <property name="delegate" ref="nvclAnalyticalRequestSvc" />
        <property name="defaultListenerMethod" value="processRequest" />
        <property name="messageConverter" ref="nvclAnalyticalMessageConverter" />
        <property name="defaultResponseDestination" ref="nvclStatusDestination" />
    </bean>

    <bean id="nvclAnalyticalRequestContainer"
        class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory" />
        <property name="destination" ref="nvclSubmitDestination" />
        <property name="messageListener" ref="nvclAnalyticalRequestListener" />
    </bean>


    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${smtp.host:}" />
        <property name="port" value="${smtp.port:25}" />
        <property name="username" value="${smtp.username:}" />
        <property name="password" value="${smtp.password:}" />
        <property name="javaMailProperties">
            <props>
                <prop key="mail.transport.protocol">smtp</prop>
                <prop key="mail.smtp.from">${sysadmin.email}</prop>
                <prop key="mail.smtp.auth">${smtp.useauth:}</prop>
                <prop key="mail.debug">${smtp.enabledebug:}</prop>
            </props>
        </property>
    </bean>


</beans>
